{% extends "page.html" %}

{% set user = c.user_dict %}
{% block content %}
  <div id="user-datasets-container" class="package-container container-fluid">
    <div class="restricted-max-width">
      <div id="user-datasets" class="package-search col-xs-12 col-md-10 col-md-offset-1">
        <div id="search-results" class="col-xs-12">
          <div class="back-btn">
            <a href="{{ h.url_for(controller='package', action='search') }}">
              <i class="icon-chevron-left"></i>
              {{ _('Return') }}
            </a>
          </div>
          <h1>{{ _('Draft datasets') }}</h1>
          <div class="dataset-list">
            {% for package in draft_packages -%}
              {% if package.private or package.state == 'draft' %}
                {% snippet 'package/snippets/search_item.html',
                           package=package,
                           truncate=truncate,
                           truncate_title=truncate_title %}
              {% else %}
                {% set package_name = package.title %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
