{% set stats = h.get_site_statistics() %}
{% set background = (g.medicallybame_bg_image_url_1 or '') %}

<div
  id="title" class="package-title container-fluid"
  style="{{ 'background-image:url("%s")' % background if background else '' }}"
>
  <div class="background-overlay">
    <div class="restricted-max-width">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div id="title-container" class="col-xs-12 col-md-6 text-left">
          <h1>{{ _('Datasets') }}</h1>
          <p class="description">
            {% set description = (g.medicallybame_dataset_description or '<description>') %}

            {{ description if description else '' }}
            {% if c.userobj and c.userobj.sysadmin %}
              <a class="edit-description-link" href="{{ '' }}"> <!-- TODO -->
                {% snippet "_svg/edit.svg" %}
              </a>
            {% endif %}
          </p>
        </div>
        <div id="stats" class="col-xs-12 col-md-4 col-md-offset-2">
          <div class="col-xs-12">
            <p class="stat">{{ "%03d" % stats.dataset_count }}</p>
            <p class="stats-legend datasets">{{ _('DATASETS') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
