{% trans %}
<p>
  MedicallyBAME is an Association, based in Switzerland founded in the summer of 2020, with
  members in Switzerland, the UK, and Spain. The purpose and aim of MedicallyBAME is to
  contribute to reducing racial inequalities in the medical field.
</p>
<p>
  A number of scientists, medical students, and professionals, including our co-founder Ana Ovilo,
  have expressed a concern for the lack of ethnic diversity in visual case studies used during
  their tertiary education. One of the potential consequences, and self-reported effects, of this
  lack of diversity is a feeling of insufficient preparation to interact and treat patients of
  varying ethnicities.
</p>
<p>
  Our overarching objective is to provide resources and content that allows for members of the
  medical and scientific community to self-inform and educate themselves regarding different
  medical issues and their respective inequalities. More specifically, we intend on achieving our
  aim with the following sub-objectives:
</p>

<ul>
  <li>Promoting awareness for the differences in disease manifestation between individuals of
      different ethnicities</li>
  <li>Provide freely accessible medical-grade resources for individuals to self-educate about
      the differences in disease presentation</li>
  <li>Promote and support medical programmes and efforts in low-resource settings</li>
</ul>

<p>
  We believe that narrowing this inequality gap, in a discipline as critical to our day to day
  life as medicine, is a matter of the utmost importance, requiring joint effort and collaboration.
</p>
{% endtrans %}
