{% import 'macros/form.html' as form %}

{% block contact_form %}
  <form id="contact-form" class="contact-form" method="post">
    {{ form.errors(error_summary) }}

    <fieldset>
      {% block contact_form_legend %}
        <legend>
          {{ _('Questions? Comments? We are always glad to hear from you!') }}
        </legend>
      {% endblock %}

      {% block contact_form_fields %}
        {{ form.input(
              'name', label=_('Contact Name'),
              id='field-name', is_required=true,
              value=data.name, error=errors.name,
              classes=['control-medium']
        )}}

        {{ form.input(
              'email', label=_('Email'), type='email',
              id='field-email', is_required=true,
              value=data.email, error=errors.email,
              classes=['control-medium']
        )}}

        {{ form.input(
              'subject', label=_('Subject'),
              id='field-subject', type='text',
              value=data.subject, error=errors.subject,
              classes=['control-medium']
        )}}

        {{ form.markdown(
              'message', label=_('Message'),
              id='field-message', is_required=true,
              value=data.message, error=errors.message,
              placeholder=_('What do you have to tell us?')
        )}}
      {% endblock %}
    </fieldset>

    <div class="form-actions">
      {% block contact_form_actions %}
        {{ form.required_message() }}

        <button class="btn btn-primary save" type="submit" name="save">
          {{ _('Submit') }}
        </button>
      {% endblock %}
    </div>
  </form>
{% endblock %}