{% extends "page.html" %}
{% block page_class %}package{% endblock %}

{% block secondary_info_content %}
  {% set user = user_dict %}
  <div class="image">{{ h.linked_gravatar(user.email_hash, 190) }}</div>
  <h1 class="heading">{{ user.display_name }}</h1>

  {% if about_formatted %}
    {{ about_formatted }}
  {% else %}
    <p class="empty">
      {% if is_myself %}
        {% trans %}You have not provided a biography.{% endtrans %}
      {% else %}
        {% trans %}This user has no biography.{% endtrans %}
      {% endif %}
    </p>
  {% endif %}

  <div class="nums">
    <dl>
      <dt>{{ _('Followers') }}</dt>
      <dd data-module="followers-counter" data-module-id="{{ user.id }}" data-module-num_followers="{{ user.num_followers }}">{{ h.SI_number_span(user.num_followers) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Datasets') }}</dt>
      <dd>{{ h.SI_number_span(user.number_created_packages) }}</dd>
    </dl>
    <dl>
      <dt>{{ _('Edits') }}</dt>
      <dd>{{ h.SI_number_span(user.number_of_edits) }}</dd>
    </dl>
  </div>

  {{ user.keys() }}
{% endblock %}