{% extends "page.html" %}

{% block subtitle %}Login{% endblock %}

{% block content %}
  <div id="login-container" class="container-fluid">
    <div class="restricted-max-width">
      <div id="login" class="col-xs-12 col-md-10 col-md-offset-1 login-block">
        <div class="col-xs-4 col-xs-offset-4">
          <h2 class="login-custom-text">{{ _('Login') }}</h2>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <div id="login-vertical-wrapper" class="login-form">
            <div id="forgot-password-positive-feedback" class="{{ 'hidden' if not h.get_request_param('email-feedback') }}">
              <span>
                <img src="/image/input-check.svg">
                {{ _('We send you an e-mail to create a new password.') }}
              </span>
            </div>
            {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary, login_error=login_error %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
