<footer id="site-footer" class="container">
  <div class="restricted-max-width">
    <div class="row spacer">
      <div class="footer-section logo col-xs-12 col-sm-6 col-md-6">
        <div class="logo-edit-container">
          {% set image = g.site_logo_footer %}
          {% if image %}
            <a href="{{ h.url_for('home.index') }}">
              <img alt="{{ h.url_for('home.index') }}"
                   class="logo-ministerio"
                   src="{{ image if image else '' }}" />
            </a>
          {% endif %}
        </div>
      </div>
      <div class="footer-section links-internal hidden-xs hidden-sm col-md-3">
        <p><a href="{{ h.url_for(controller='package', action='search') }}">{{ _('Datasets') }}</a></p>
        {% if c.userobj and c.userobj.sysadmin %}
        <p><a href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Organizations') }}</a></p>
        {% endif %}
        <p><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About') }}</a></p>
        <p><a class="ckan-link" href="{{ h.url_for('/user/login') }}">{{ _('Login') }}</a></p>
      </div>
      <div class="footer-section links-external col-xs-12 col-sm-6 col-md-3">
        {% set ctrl='ckanext.medicallybame.controllers.home:HomeController' %}
        <p><a href="{{ h.url_for(controller=ctrl, action='contact') }}">{{ _('Contact Us') }}</a></p>
        <p class="ckan-link blend-link">
          {{ _('Version:') }} {{ h.medicallybame_version() or "CKAN 2.8.4" }}
        </p>
      </div>
    </div>

    <div class"row" style="float: left;">
      {% block footer_debug %}
        {% if g.debug %}
          {% include 'snippets/debug.html' %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</footer>