<div id="header" class="container-fluid">
  <div class="restricted-max-width">
    <div id="header-spacing" class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-12 col-sm-5 no-padding logo-header">
        <div class="logo-and-xs-icon">
          <i class="icon-reorder fa fa-bars" aria-hidden="true"></i>
          {% if g.site_logo %}
            <a href="{{ h.url_for('home.index') }}">
              <img alt="{{ g.site_title }}"
                   class="logo-ministerio"
                   title="{{ g.site_title }}"
                   src="{{ h.url_for_static_or_external(g.site_logo) }}" />
            </a>
          {% else %}
            <h1>
              <a href="{{ h.url_for('home') }}">{{ g.site_tile }}</a>
            </h1>
            {% if g.site_description %}
              <h2>{{ g.site_description }}</h2>
            {% endif %}
          {% endif %}
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 no-padding header-links">
        {% if c.action != 'login' %}
          <a class="header-link" href="{{ h.url_for(controller='package', action='search') }}">{{ _('Datasets') }}</a>
          {% if c.userobj and c.userobj.sysadmin %}
            <a class="header-link" href="{{ h.url_for(controller='organization', action='index') }}">{{ _('Organizations') }}</a>
          {% endif %}
          <a class="header-link" href="{{ h.url_for(controller='home', action='about') }}">{{ _('About') }}</a>

          {% if c.userobj %}
            <span class="header-link dropdown">
              <span class="user-divisor"></span>
              <span>{{ c.userobj.display_name }}</span>

              <ul {{ 'style=bottom:-120px' if not c.userobj.sysadmin else '' }}>
                <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" title="{{ _('View profile') }}">
                  <li>{{ _('My Account') }}</li>
                </a>

                {% if c.userobj.sysadmin %}
                  <a href="{{ h.url_for('admin.config') }}" title="{{ _('Edit settings') }}">
                    <li>{{ _('Settings') }}</li>
                  </a>
                {% endif %}

                <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                  <li>{{ _('Log out') }}</li>
                </a>
              </ul>
            </span>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>