{% extends "page.html" %}

{% block content %}
  <div class="package-container container-fluid">
    <div class="restricted-max-width">
      <div class="{% block page_class %}package-search{% endblock %} col-xs-12 col-md-10 col-md-offset-1">
        <div class="row">
          <!-- main info -->
          {% block main_info %}
            <div id="pkg-main-info" class="col-xs-12 col-md-8">
              {% block main_info_content %}{% endblock %}
            </div>
          {% endblock %}

          <!-- secondary info -->
          {% block secondary_info %}
            <div id="pkg-secondary-info" class="col-xs-12 col-md-4">
              {% block secondary_info_content %}{% endblock %}
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
