{% resource 'medicallybame/js/libs/bootstrap_scripts.js' %}
{% resource 'medicallybame/js/libs/bootstrap_menu.js' %}
{% resource 'medicallybame/js/header.js' %}
{% ckan_extends %}

{% block content %}
  {% block flash %}
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="flash-messages">
        {% block flash_inner %}
          {% for message in h.flash.pop_messages() | list %}
            <div class="alert fade in {{ message.category }}">
              {{ h.literal(message) }}
            </div>
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  {% endblock %}

  {{ super() }}
{% endblock %}
