/*
------------------------------------------------------------------------------------
MEDBAME CUSTOMIZATIONS
----------------------------------------------------------------------------------*/

/*
------------------------------------------------------------------------------------
FONTS:
----------------------------------------------------------------------------------*/
@font-face {
  font-family: "MavenPro";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MavenPro-Regular.ttf') format('truetype');
}

/* GENERAL
===========================*/
.pl-0 { padding-left: 0 !important; }

body {
  font-family: "MavenPro", "OpenSans", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
	background: #333333;
}

#header #header-spacing .header-links .header-link.dropdown ul {
  bottom: -121px !important;
}

#site-footer {
  color: #ffffff !important;
  padding: 30px 0px;
}

#site-footer a,
#site-footer span {
  color: #ffffff !important;
}
#site-footer a:hover,
#site-footer a:focus,
#site-footer a.active {
  background-color: transparent !important;
  color: #fed11a !important;
}

#site-footer .spacer {
	height: 100px;
}

#site-footer .footer-section.links-external {
  text-align: right;
}

#site-footer .footer-section .ckan-link {
  color: #767676 !important;
}

#site-footer .footer-section .blend-link {
  color: #333333 !important;
}

/* HOME PAGE
=======================*/
.home { display: inline; }
.featured-groups .group-container { float: left; }
.featured-groups .group-container:nth-last-child(-n+2) { float: none; }

.featured-groups .group-container .group .group-text {
  padding: 7px !important;
}

.featured-groups .group-container .group .group-text .group-table,
.featured-groups .group-container .group .group.show-icons .group-text .group-table {
  padding-left: 0px !important;
  color: #000;
  font-size: 24pt !important;
  font-weight: normal !important;
  height: 35px;
}

/* DATASETS
=======================*/
#login-container,
.gobar-static-container,
.package-container,
.resource-container {
  background-color: #f5f5f5;
  display: block;
  height: auto;
}

#login-container,
.gobar-static-container {
  height: 80%;
}

.filters-container .search-filter .group-images .group-image-container {
  padding: 0;
  width: 8.3%;
}

.package #pkg-main-info #pkg-resources .pkg-container .pkg-actions {
  margin: 0 !important;
}

.package-info.pl-0 { padding-left: 0 !important; }
.package-info.pl-0 .pkg-actions {
  top: 20px !important;
}

.js .image-upload .btn-remove-url,
#resource-edit a.btn-remove-url, #group-edit a.btn-remove-url {
  top: 0px;
  right: 0px;
}

#contact-form .control-required-message {
  font-size: 1.1rem;
}

#about-container ul { list-style: disc; }
#about-container ul li { margin-left: 40px; }
