{% ckan_extends %}
{% import 'macros/form.html' as form %}

{% block admin_form %}
  {{ super() }}

  <hr />
  <h3>MedicallyBAME Settings</h3>

  {{ form.input('medicallybame_dataset_description',
      id='field-medicallybame_dataset_description',
      label=_('Dataset Description'),
      classes=['control-medium'], error=error,
      value=data['medicallybame_dataset_description'],
  )}}

  {% for idx in range(1, 5) %}
    {% set field_url = 'medicallybame_bg_image_url_%i' % idx %}
    {% set is_upload = data[field_url] and not data[field_url].startswith('http') %}
    {% set is_url = data[field_url] and data[field_url].startswith('http') %}
    {{ form.image_upload(
        data, errors,
        is_url=is_url,
        is_upload=is_upload,
        is_upload_enabled=h.uploads_enabled(),
        upload_label='Site Background Image #%i' % idx,
        url_label='Site Background Image #%i' % idx,
        field_url=field_url,
        field_name=field_url,
        field_upload='medicallybame_bg_image_upload_%i' % idx,
        field_clear='medicallybame_clear_bg_image_upload_%i' % idx
    )}}
  {% endfor %}
  <br/>
  <br/>

{% endblock %}