{% set resource_url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=resource.id) %}
{% set format = format or "" %}

{% if not resource.format.lower() in h.accepted_image_mime_types() %}
  <div class="pkg-container">
    <div class="pkg-actions">
      <a href="{{ resource_url }}">
        <button>{{ _('CONSULT') }}</button>
      </a>
      <a href="{{ resource.url }}">
        <button>{{ _('DOWNLOAD') }}</button>
      </a>
    </div>

    <a href="{{ resource_url }}">
      <div class="package-info">
        <h3>{{ resource.name }}</h3>
        <p>{{ h.cut_text(resource.description, 140) }}</p>
      </div>

      <div class="pkg-file-img" data-format="{{ format.lower() }}">
        {% snippet "_svg/archive.svg" %}
        <p>{{ format.lower() }}</p>
      </div>
    </a>
  </div>
{% else %}
  <div class="pkg-container">
    {% if not hide_title %}
    <div class="package-info pl-0">
      <h3>{{ resource.name }}</h3>
      <div class="pkg-actions" data-format="{{ format.lower() }}">
        <a href="{{ resource_url }}">{{ _('CONSULT') }}</a>
        <a href="{{ resource.url }}">{{ _('DOWNLOAD') }}</a>
      </div>
    </div>
    {% endif %}

    <div class="pkg-resource-img">
      <img width="100%" src="{{ resource.url }}" />
    </div>
  </div>
{% endif %}