{% set items = h.organizations_basic_info() %}
<div class="search-filter">
	<h2 class="filter-title">{{ title }}</h2>
	{% if items %}
		<ul class="filter-values">
			{% for item in items %}
				{% if item.display and item.available_package_count %}
					{% set href = h.remove_url_param(name, item.name, extras=extras, alternative_url=alternative_url) if item.active else h.add_url_param(new_params={name: item.name}, extras=extras, alternative_url=alternative_url) %}
					{% set count = item.available_package_count %}
					<a href="{{ href }}">
						<li class="filter-value {% if item.active %} active{% endif %}">
							<span>{{ item.title }} {{ '(%d)' % count }}</span>
							<img class="close-filter" src="/images/close-filter.svg">
						</li>
					</a>
				{% endif %}
			{% endfor %}
		</ul>

		{% if h.get_param_int('_%s_limit' % name) %}
			{% if h.has_more_facets(name) %}
				<a href="{{ h.remove_url_param('_%s_limit' % name, replace=0, extras=extras, alternative_url=alternative_url) }}"
						class="filter-show-more">
					<p>
						{{ h.snippet('_svg/arrow_down.svg') }}
						{{ _('Show more') }}
						{{ h.snippet('_svg/arrow_down.svg') }}
					</p>
				</a>
			{% endif %}
		{% else %}
			<a href="{{ h.remove_url_param('_%s_limit' % name, extras=extras, alternative_url=alternative_url) }}"
					class="filter-show-less">
				<p>
					{{ h.snippet('_svg/arrow_up.svg') }}
					{{ _('Show less') }}
					{{ h.snippet('_svg/arrow_up.svg') }}
				</p>
			</a>
		{% endif %}
	{% else %}
		<p class="filter-empty">
			{{ _('There are no {facet_type} that match this search').format(facet_type=title) }}
		</p>
	{% endif %}
	<hr>
</div>
