<div id="search-results" class="col-xs-12 col-md-8">
  {% if h.check_access('package_create') %}
    {% set user_ctrl = 'ckanext.medicallybame.controllers.user:UserController' %}
    <div class="add-dataset">
      {% link_for _('SEE DATASETS IN DRAFT'), controller=user_ctrl, action='drafts' %}
      {% link_for _('CREATE DATASET'), controller='package', action='new' %}
    </div>
  {% endif %}

  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field } %}

  {% snippet 'package/snippets/search_form.html',
             form_id='dataset-search-form',
             type='dataset', query=c.q, sorting=sorting,
             sorting_selected=c.sort_by_selected,
             count=c.page.item_count, facets=facets,
             show_empty=request.params,
             error=c.query_error, fields=c.fields %}

  <div class="dataset-list">
    {% set show_group_imgs = False %}
    {% set packages = c.page.items %}
    {% set groups_with_img_path = '' %}
    {% for package in packages %}
        {% snippet 'package/snippets/search_item.html',
                    package=package, truncate=truncate,
                    truncate_title=truncate_title,
                    show_group_imgs=show_group_imgs,
                    groups_with_img_path=groups_with_img_path %}
    {% endfor %}
  </div>

  {{ c.page.pager(q=c.q) }}

  <div class="filters-veil"></div>
</div>
