<div class="filters-container col-md-4">
  <div class="hidden-md hidden-lg hide-filters-button">
    <i class="icon-chevron-left"></i>
  </div>

  {{ h.snippet('package/snippets/search_facets_groups.html', title=_('A-Z Datasets'), name='groups') }}
  {# h.snippet('package/snippets/search_facets_organizations.html', title=_('Organizations'), name='organization') #}
  {{ h.snippet('package/snippets/search_facets.html', title=_('Tags'), name='tags') }}

  <a class="close no-text hide-filters">
    <i class="icon-remove-sign"></i>
    <span class="text">close</span>
  </a>
</div>