{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting = [
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc')] %}

{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

<form {% if form_id %}id="{{ form_id }}" {% endif %}
  class="search-form container-fluid search-and-order"
  method="get" data-module="select-switch"
>
  <div class="restricted-max-width">
    <div class="searcher col-xs-12 col-sm-6">
      <div class="hidden-md hidden-lg menu-button">
        {% snippet "_svg/menu.svg" %}
      </div>

      <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off"
             placeholder="{{ _('What datasets are you looking for?') }}" maxlength="200">

      <button type="submit" value="search">
        <img src="/images/search_gray.svg" class="search-icon">
      </button>
    </div>

    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {% endif %}

    <div class="order hidden-xs col-sm-6">
      <label for="field-order-by">{{ _('Order by') }}</label>
      <select id="field-order-by" name="sort">
        {% for label, value in sorting %}
          {% if label and value %}
            <option value="{{ value }}"{% if sorting_selected == value %}
                    selected="selected"{% endif %}>{{ label }}
            </option>
          {% endif %}
        {% endfor %}
      </select>

      <button class="btn js-hide" type="submit" style="display:none;"></button>
    </div>
  </div>
</form>

{% if error %}
  <p class="search-error">
    <strong>{{ _('An error occurred with the search.') }}</strong>
  </p>

  <p>
    {{ _('Please try again and if the problem persists ') }}
    <a href="{{ h.url('medicallybame_contact_info') }}">{{ _('contact us') }}</a>.
  </p>
{% else %}
  {% if count == 0 %}
    <p class="extra">{{ _('No results found') }}</p>
  {% endif %}
{% endif %}

{# resource 'gobar_js/search/filters.js' #}
