{% extends "page.html" %}

{% block subtitle %}About{% endblock %}
{% block content %}
  <div id="about-container" class="container-fluid gobar-static-container">
    <div class="restricted-max-width">
      <div id="about" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static" style="padding: 0 60px;">
        {% if g.site_about %}
          {{ h.render_markdown(g.site_about) }}
        {% else %}
          <h2 class="page-heading">{{ _('About') }}</h2>
          {% snippet 'home/snippets/about_text.html' %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}