{% extends "page.html" %}

{% block subtitle %}Contact Us{% endblock %}
{% block content %}
  <div id="contact-container" class="container-fluid gobar-static-container">
    <div class="restricted-max-width">
      <div id="contact-us" class="col-xs-12 col-md-10 col-md-offset-1 gobar-static" style="padding: 0 60px;">
        <h2 class="page-heading">{{ _('Contact Us') }}</h2>
        {% include 'home/snippets/contact_form.html' %}
      </div>
    </div>
  </div>
{% endblock %}