<div class="featured-groups container-fluid">
  <div style="margin-top: -40px; margin-bottom: 20px">
    <h2>{{ _("A-Z index of Datasets") }}</h2>
  </div>

  <div class="restricted-max-width">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      {% set dataset_url = h.url_for(controller='package', action='search') %}

      {% for group in c.sorted_groups %}
      {% set can_update = c.userobj and c.userobj.sysadmin %}
      <div class="group-container col-xs-12 col-sm-3 col-md-2 {{ 'with-edit-button' if can_update else '' }}">
        {% if can_update %}
        <a href="{{ h.url_for(controller='group', action='edit', id=group.name) }}">
          <div class="edit-container">
            {% snippet "_svg/edit.svg" %}
          </div>
        </a>
        {% endif %}

        {% set group_class = 'active' if group.package_count > 0 else 'inactive' %}
        {% set group_link = h.add_url_param(new_params={'groups': group.name}, alternative_url=dataset_url) %}

        {% if group.package_count > 0 %}<a href="{{ group_link }}">{% endif %}
        <div class="group {{ group_class }} {{ group_imgs if group_imgs else '' }}">
          <div class="group-text">
            <div class="group-table">
              <div class="group-cell">
                {{ group.display_name }}
              </div>
            </div>
          </div>
        </div>
        {% if group.package_count > 0 %}</a>{% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
