{% set stats = h.get_site_statistics() %}
{% set background = (h.medicallybame_banner_url() or '') %}

<div
	id="title" class="container-fluid"
	style="{{ 'background-image:url("%s")' % h.url_for_static_or_external(background) if background else '' }}"
>
  <div class="background-overlay">
    <div class="restricted-max-width">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div id="title-container" class="col-xs-12 col-md-7 text-left">
          {% set title = (g.site_title or '<Title>') %}
          <h1>{{ title if title else '' }}</h1>
          <p class="description">
            {% set description = (g.site_description or '<Description>') %}
            {{ description if description else '' }}
          </p>
        </div>

        <div id="searcher" class="col-xs-8 col-xs-offset-2 col-md-5 col-md-offset-0 no-padding position-bottom">
          <form class="module-content search-form" method="get"
                action="{% url_for controller='package', action='search' %}">
            <input type="text" class="search" name="q" value="" autocomplete="off"
                    placeholder="{{ _('What dataset are you looking for?') }}" maxlength="200" />
            <button type="submit">
              <img src="/images/search.svg" class="search-icon">
            </button>
          </form>
        </div>

        <div id="stats" class="hidden-xs col-sm-12 col-md-4 col-md-offset-1">
          <div class="hidden-sm col-md-12 col-md-offset-0" style="visibility:hidden;">
            <p class="stat">{{ "%03d" % 0 }}</p> <!-- h.organizations_with_packages() -->
            <p class="stats-legend datasets">{{ _('ORGANIZATIONS') }}</p>
          </div>
          <div class="col-sm-4 col-sm-offset-4 col-md-offset-0 col-md-12">
            <p class="stat organizations">{{ "%03d" % stats.dataset_count }}</p>
            <p class="stats-legend">{{ _('DATASETS') }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>